@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html {
    width: 100%;
}

section {
    width: 100%;
    padding: 100px;
}

/* ------NavBar------ */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 40px 50px 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 20px 50px 20px 100px;
    box-sizing: 0 5px 20px rgba(0,0,0, 0.1);
}

header .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

header.sticky .logo {
    color: #111;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

header.sticky ul li a {
    color: #111;
    font-weight: bold;
}

header ul li a:hover {
    color: #08fdd8;
}

/* -------navbar end---------- */

.banner {
    position: relative;
    min-height: 100vh;
    background: rgba(0,0,0, 0.5) url("../images/bg.jpg");
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.banner h1 {
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h1 span {
    font-size: 1.5em;
    font-weight: 700;
}

.banner h3 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    letter-spacing: 3px;
}

.contactbtn {
    position: relative;
}

.cbtn {
    position: absolute;
    margin: 40px;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #08fdd8;
    transition: .5s ease-in-out;
    font-weight: 400;
}

.cbtn:hover {
    background-color: #08fdd8;
    color: #000;
    font-weight: 400;
}

.banner h1 span:hover {
    color: #08fdd8;
}


 /* ABOUT Section  */

.about_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 3, 18);
    padding: 50px 8%;
}

.about_container .about_contents {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 70px;
}

.about_contents .imageSection {
    position: relative;
    min-width: 300px;
    height: 380px;
    /* background-color: red; */
}

.imageSection img {
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

/* .about_contents .imageSection::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    outline: 3px solid black;
    top: 15px;
    left: 15px;
    z-index: 1;
} */

.infoSection h1 {
    color: #dedce1;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
}

.infoSection h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #08fdd8;
    padding: 14px 0px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.infoSection p {
    color: #aaabb0;
    font-size: 18px;
    line-height: 1.2;
    text-align: justify;
    padding-bottom: 8px;
}

.personalInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
    margin-top: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #555;
}

.personalInfo div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.personalInfo div span {
    color: #aaabb0;
    letter-spacing: 1px;
}

.infoSection button {
    min-width: 150px;
    padding: 8px 18px;
    border: 1px solid #787cb5;
    border-radius: 25px;
    font-size: 18px;
    background-color: transparent;
    color: #08fdd8;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.4s;
    margin-top: 20px;
}

.infoSection button:hover {
    background-color: #08fdd8;
    border-color: #aaabb0;
    color: rgb(1, 3, 18);
}

::-webkit-scrollbar {
    width: 0px;
}

